{% load static %}  
<!DOCTYPE html>
  <html>
    <head>
      <title> my html </title>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
      <script src="{% static 'script/app.js' %}"> </script>
    </head>
    <body>
        <div class="heading">Welcome! Register here</div>
        <form class="form" action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          {{form}}
          <button type='submit'>Register</button>        
        </form>
    </body>
  </html>